<ul>
  <% @semesters.each do |semester| %>
    <li><%= semester.name %>
      <ul>
        <% semester.users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
