<html>
  <body>
    <div class="errors"><%= flash[:errors] %></div>
    <form action="/user/authenticate" method="post">
      <p><label for="user_name">Name</label>
      <%= text_field 'user','name' %> </p>
      <p><label for="user_password">Password</label>
      <%= text_field 'user','password' %></p>
      <%= submit_tag "Login" %>
    </form>
  </body>
</html>
